Repository Samuvin/Auro_Connect, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, dependencies, documentation, github-actions, tests, config

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Health checks
  backend/controllers/health.controller.js
  backend/routes/health.route.js
  backend/server.js
  backend/tests/controllers/health.controller.test.js
Labels: backend, tests

Update Tests
  .github/workflows/ci.yml
  backend/package.json
  frontend/package.json
  frontend/src/__tests__/App.test.jsx
  frontend/src/__tests__/__snapshots__/App.test.jsx.snap
  frontend/src/components/layout/__tests__/Layout.test.jsx
  frontend/src/components/layout/__tests__/__snapshots__/Layout.test.jsx.snap
Labels: frontend, backend, dependencies, github-actions

test
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/tests/e2e/README.md
  frontend/tests/e2e/auth/login.spec.js
  frontend/tests/e2e/auth/login.spec.ts
  frontend/tests/e2e/auth/signup.spec.ts
  frontend/tests/e2e/page-objects/LoginPage.ts
  frontend/tests/e2e/page-objects/SignupPage.ts
  frontend/tests/e2e/page-objects/loginPage.js
  frontend/tests/e2e/types/auth.types.ts
  frontend/tests/e2e/utils/auth-helpers.ts
  frontend/tests/e2e/utils/test-data.ts
  frontend/tests/utils/auth-helpers.js
  frontend/tests/utils/test-users.js
  frontend/tsconfig.json
Labels: frontend, dependencies, tests

Test
  frontend/tests/e2e/auth/login-error-handling.spec.js
  frontend/tests/e2e/auth/login-reliable.spec.js
  frontend/tests/e2e/auth/signup.spec.ts
  frontend/tests/e2e/page-objects/SignupPage.ts
Labels: frontend, tests

Ci Update
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Labels: documentation, github-actions

Test
  .github/workflows/ci.yml
  backend/package-lock.json
  backend/package.json
  backend/tests/integration/auth.integration.test.js
  docs/CI_WORKFLOW.md
  docs/INTEGRATION_TESTING.md
  frontend/package.json
  frontend/tests/integration/auth.integration.test.ts
  frontend/tests/integration/integration-report/index.html
  frontend/tests/integration/integration-results.json
  frontend/tests/integration/integration-test-results/.last-run.json
  frontend/tests/integration/playwright.config.js
Labels: frontend, backend, dependencies, documentation, github-actions, tests

Update Slack
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Labels: documentation, github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Performance
  .github/workflows/ci.yml
  docs/CI_PLAYWRIGHT_CONFIG.md
  docs/CI_WORKFLOW.md
  frontend/playwright.config.js
  frontend/tests/integration/playwright.config.js
  frontend/tests/performance/playwright.config.js
Labels: frontend, documentation, github-actions, tests

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Refactor
  .github/actions/setup-test-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/report.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  scripts/run-e2e-tests.sh
  scripts/send-slack-notification.sh
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Refactor and standardize GitHub Actions workflows
  .github/actions/setup-test-env/action.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/label-manager.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/report.yml
  .github/workflows/security-scan.yml
  .github/workflows/setup.yml
  .github/workflows/stale-manager.yml
  .github/workflows/test.yml
Labels: github-actions

Revamp GitHub Actions with improved naming and caching
  .github/actions/setup-test-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
Labels: github-actions

Remove quotes from integer comparison in lint workflow
  .github/workflows/lint.yml
Labels: github-actions

Refactor lint workflow for clarity and efficiency
  .github/workflows/lint.yml
Labels: github-actions

fix: resolve E2E test script permission denied error in GitHub Actions
  .gitattributes
Labels: none

Add execute permission to E2E test script in workflow
  .github/workflows/performance.yml
Labels: github-actions

Allow CI pipeline to continue on lint and perf test errors
  .github/workflows/lint.yml
  frontend/tests/performance/lighthouse-with-playwright.js
Labels: frontend, github-actions, tests

test
  .github/workflows/report.yml
Labels: github-actions

Update workflow to set script executable before Slack notify
  .github/workflows/report.yml
Labels: github-actions

Add Slack bot token support for notifications
  .github/workflows/report.yml
  scripts/send-slack-notification.sh
Labels: github-actions

Improve Slack notification setup and diagnostics
  .github/workflows/ci.yml
  .github/workflows/report.yml
  scripts/send-slack-notification.sh
Labels: github-actions

Update send-slack-notification.sh
  scripts/send-slack-notification.sh
Labels: none

Enhance CI reporting with detailed test metrics
  .github/workflows/ci.yml
  .github/workflows/report.yml
  scripts/run-e2e-tests.sh
  scripts/send-slack-notification.sh
Labels: github-actions

Add visual regression workflow to CI pipeline
  .github/workflows/ci.yml
  .github/workflows/report.yml
  .github/workflows/visual-regression.yml
  Jenkinsfile
Labels: github-actions, config

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

Update visual-regression.yml
  .github/workflows/visual-regression.yml
Labels: github-actions

Test
  .github/workflows/visual-regression.yml
  package.json
Labels: dependencies, github-actions

.github/labeler.yml:

# Auto-label PRs based on changed files

frontend:
  - 'frontend/**/*'

backend:
  - 'backend/**/*'

dependencies:
  - 'package*.json'
  - '**/package*.json'

documentation:
  - '*.md'
  - 'docs/**/*'

github-actions:
  - '.github/**/*'

tests:
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/tests/**/*'

config:
  - '*.config.js'
  - '*.config.json'
  - '.env*'
  - 'Jenkinsfile'
